h1 {
  color: saddlebrown
  background-color:lavenderblush
}

p, ul, li, img {
  text-align: center
}

img {
  width:150%
  height: 250px
}

p {
  border: 1px solid lightsteelblue
  font-size: 16px
  font-weight: normal
}

p, h1 {
  font-family: "Times"
}
