.contents ul {
  list-style-type : none;
}

.menu {
  display : inline;

body {
   background-color: LemonChiffon;
}


/*

.contents ul {
  list-style-type : none;
  display: flex;
}

.menu {
  display : inline;
}

body {
    margin: 10px;
    background-color: LemonChiffon;
    border-radius: 25px;
    padding: 10px;
}

.main_page {
    border-radius: 25px;
    font-size: 24px;
    font-family: "Lucida Console";
    color: #AD5F77;
    text-align: center;
    padding: 10px;
    margin: 1%;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
*/
