.contents ul {
  list-style-type : none;

}

.menu {
  display : inline;
}

body {
    margin: 10px;
    background-color: LemonChiffon;
    border-radius: 25px;
    padding: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

